version: "3.9"

services:

  web:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env

  worker:
    build: .
    command: celery -A celery_tasks.celery_ worker --loglevel=info
    env_file:
      - .env
